@import '../Colors/colors.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.borderHome {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.divBorder {
  height: 75%;
  width: 45%;
  margin: 0 10px;
}


.border {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: $light-green;
  border-radius: 25px;
}

h4 {
  font-size: 13px;
}

p {
  font-size: 13px;
}

@media  screen and (min-width: 1000px){
  .divBorder {
    width: 25%
  }
}