* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.borderHome {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}



.border {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: crimson;
  margin: 10px;
}