@import '../Colors/colors.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
}

.homeInput {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
  }

  .NavBar {
    margin-top: 25px;
    width: 100%;
  }
  
  .inputBlock {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 60vh;
  width: 50vw;
  margin-top: 50px;
  border: solid 15px $darker-blue;
  border-radius: 25px;
  background-color: rgba(211, 211, 211, 0.2);
}

.inputBlock input {
  color: #ffffff;
  width: 75%;
  height: 25px;
  flex-wrap: wrap;
  margin: 30px 0;
  border-radius: 100px;
  background-color: transparent;
  border: 2px $darker-blue solid;
  text-align: center;
}

.inputBlock input::placeholder {
  color: white
}


@keyframes moveInButton{
  0% {
    opacity: 0;
    transform: translateY(30px)
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}


.btn {
  background: rgba(211, 211, 211, 0.2);
  color: #ffffff;
  height: 35px;
  width: 150px;
  border-radius: 100px;
  border: 2px $darker-blue solid;
}

.btn:hover {
  transform: translateY(-3px); 
  box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0,0,0,.2)
}

// .btn-white {
//   background-color: #ffffff;
//   color: #ffffff;
// }


.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInButton .5s ease-out .75s;
  animation-fill-mode: backwards;
}