@import '../Colors/colors.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;

}

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom,($backColor, $backColor)), url(../Assets/homeBackground.jpg);
  ;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  background-attachment: fixed;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.home-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  overflow-y: scroll;
  height: 70vh;
  width: 90vw;
  border: solid 15px $darker-blue;
  border-radius: 25px;
  background-color: rgba(211, 211, 211, 0.2);
}

.move {
  margin-top: 25px;
}


@media screen and (min-width: 1000px){
  .home {
    flex-direction: column;
  }
  
  .home-block {
    width: 70vw;
  }
}